<pdf>
  <form action="{{ path('saveExcelFaunas') }}" method="get">
    <input hidden type="text" id="destination" class="form-control" placeholder="Proximo destino" name="destination">
   <input hidden id="attendants" class="form-control" name="attendants">
   <input hidden id="specie" class="form-control" name="specie">
   <input hidden id="subspecie" class="form-control" name="subspecie">
   <input hidden id="format" class="form-control" name="_format">
   <button id="btPrint" class="btn btn-info" type="submit">Guardar</button>
  </form>
    <dynamic-page>
      <h1>Listado Faunas</h1>
      <table class="table row-border hover stripe" name="TABLA">
          <thead class="thead-dark">
              <tr>
                  <th>Especie</th>
                  <th>Subespecie</th>
                  <th>Nombre</th>
                  <th>Peso</th>
              </tr>
          </thead>
          <tbody>
          {% for fauna in faunas %}
              <tr>
                  <td>{{fauna.subspecie.specie.name}}</td>
                  <td>{{ fauna.subspecie.name }}</td>
                  <td>{{ fauna.name }}</td>
                  <td>{{ fauna.weight }}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
    </dynamic-page>
</pdf>
<script src="{{ asset('scripts/jquery.js') }}"></script>
<link href="{{ asset('bootstrap/css/style.css') }}" rel="stylesheet">
<link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<script>
$('#destination').val("{{params.destination}}");
$('#specie').val("{{params.specie}}");
$('#subspecie').val("{{params.subspecie}}");
$('#attendants').val("{{params.attendants}}");
$('#format').val('xls');
</script>
