{% extends 'base.html.twig' %}

{% block title %} individuos fauna {% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ asset('scripts/dataTables/datatables.min.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}

<div class="container">
<h2>Individuos Fauna</h2>
<div class="jumbotron" style="padding-top: 2%; padding-bottom: 1%;">
 <h4>Buscar individuos por:</h4>
   {{ form_start(form, { 'enctype':"multipart/form-data"}) }}
       {{ form_widget(form) }}
       <button id="button" type="submit" class="btn btn-info">Buscar</button>
       <a class="btn btn-info float-right btn-m-r" href="{{ path('fauna_new') }}">Nuevo individuo</a>
   {{ form_end(form) }}
</div>
  <div class="row">
    <div class="col-md-12 col-center">
    <table id="fauna-table" class="table row-border hover stripe" name="TABLA">
        <thead class="thead-dark">
            <tr>
                <th>Especie</th>
                <th>Subespecie</th>
                <th>Nombre</th>
                <th>Peso</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for fauna in faunas %}
            <tr>
                <td>{{fauna.subspecie.specie.name}}</td>
                <td>{{ fauna.subspecie.name }}</td>
                <td>{{ fauna.name }}</td>
                <td>{{ fauna.weight }}</td>
                <td>
                <a class="btn btn-info" href="{{ path('fauna_show', { 'id': fauna.id }) }}">
                  <i class="fa fa-eye"></i>
                </a>
                <a class="btn btn-success" href="{{ path('fauna_edit', { 'id': fauna.id }) }}">
                  <i class="fa fa-pencil"></i>
                </a>
                <a class="btn btn-danger" href="{{ path('fauna_delete', { 'id': fauna.id }) }}">
                  <i class="fa fa-trash"></i>
                </a>
                </td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">
                        <em>No fauna</em>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    {{ pagination(faunas, 'page') }}
                </td>
            </tr>
            </tfoot>
        </tbody>
    </table>
    </div>
  </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('scripts/dataTables/datatables.min.js') }}"></script>
<script>
  $(document).ready(function(){
    $('#fauna-table').DataTable({
      searching: false,
      info: false,
      lengthChange: false,
       "paging":   false,
       "ordering": false,
       "info":     false
    });
  });
  $("#appbundle_fauna_destination").removeProp('required');
  $("#appbundle_fauna_subspecie").removeProp('required');
  $("#appbundle_fauna_specie").removeProp('required');
// $("form").submit(function(event) {
//   var proxDestino = $('#proxDestino').val();
//   var encargado = $('#encargado').val();
//   var especie = $('#especie').val();
//   var subEspecie = $('#subEspecie').val();
// });
  // $('#button').click(function() {
  //   var proxDestino = $('#proxDestino').val();
  //   var encargado = $('#encargado').val();
  //   var especie = $('#especie').val();
  //   var subEspecie = $('#subEspecie').val();
  //   $.ajax({
  //      method: "POST",
  //      url: "",
  //      data: {
  //           "proxDestino" : proxDestino,
  //           "encargado" : encargado,
  //           "especie" : especie,
  //           "subEspecie" : subEspecie
  //            } ,
  //      success: function(data) {
  //                  var html = $.parseHTML( data );
  //                  $.each( html, function( i, el ) {
  //                   if (el.nodeName == 'SECTION') {
  //                     //$(".principal").detach();
  //                     //$(".principal").appendTo();
  //                     $( ".principal" ).append( el );
  //                     //$( el ).replaceAll( ".principal" );
  //                     console.log("pinche");
  //                   }
  //                 });
  //               }
  //         });
  //       });
  //
  // $('#buttonBorrar').click(function() {
  //   console.log('enaaaaatra');
  //   $.ajax({
  //      method: "POST",
  //      url: "",
  //      success: function(data) {
  //                 console.log('entra');
  //                  var html = $.parseHTML( data );
  //                  $.each( html, function( i, el ) {
  //                   if (el.nodeName == 'SECTION') {
  //                     $( el ).replaceAll( ".principal" );
  //                     console.log("pinche");
  //                   }
  //                 });
  //               }
  //         });
  //       });
</script>
{% endblock %}
