{% extends 'base.html.twig' %}

{% block title %} Listado PDF fauna {% endblock %}


{% block body %}
<pdf>
  <a id="btVolver" class="btn btn-info mt-lg-3 ml-lg-3" href="{{ path('fauna_index') }}">Volver al listado</a>
  <button id="btPrint" class="btn btn-info mt-lg-3 ml-lg-3" type="button" onclick="imprimirPagina()" name="button">Descargar</button>
    <dynamic-page>
      <div class="container">
      <h1 class="text-center mb-lg-4">Listado de individuos de fauna</h1>
        <table class="table row-border hover stripe" name="TABLA">
          <thead class="thead-light">
            <tr>
              <th>Especie</th>
              <th>Subespecie</th>
              <th>Nombre</th>
              <th>Peso</th>
            </tr>
          </thead>
          <tbody>
          {% for fauna in faunas %}
            <tr>
                <td>{{fauna.subspecie.specie.name}}</td>
                <td>{{ fauna.subspecie.name }}</td>
                <td>{{ fauna.name }}</td>
                <td>{{ fauna.weight }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </dynamic-page>
</pdf>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('scripts/jquery.js') }}"></script>
<script src="{{ asset('scripts/pdfmake/pdfmake.min.js') }}"> </script>
<script src="{{ asset('scripts/pdfmake/vfs_fonts.js') }}" > </script>
<script>
var docDefinition = {
  content: [
    {
      table: {
        headerRows: 1,
        widths: [ '*', '*', '*', '*'],
        body: [
          [ 'Especie', 'Subespecie', 'Nombre', 'Peso' ],
          {% for fauna in faunas %}
          [ '{{fauna.subspecie.specie.name}}', '{{fauna.subspecie.name}}', '{{fauna.name}}', '{{fauna.weight}} kg.'],
          {% endfor %}
        ]
      }
    }
  ]
};

function imprimirPagina() {
   pdfMake.createPdf(docDefinition).download('listado_fauna.pdf');
}

</script>
{% endblock %}