{% extends 'base.html.twig' %}

{% block body %}
    <h1>Attendants list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Name</th>
                <th>Lastname</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for attendant in attendants %}
            <tr>
                <td><a href="{{ path('attendant_show', { 'id': attendant.id }) }}">{{ attendant.id }}</a></td>
                <td>{{ attendant.email }}</td>
                <td>{{ attendant.name }}</td>
                <td>{{ attendant.lastName }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('attendant_show', { 'id': attendant.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('attendant_edit', { 'id': attendant.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('attendant_new') }}">Create a new attendant</a>
        </li>
    </ul>
{% endblock %}
