{% extends 'base.html.twig' %}

{% block title %} Encargados {% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ asset('scripts/dataTables/datatables.min.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-center">
        <br>
        <h1>Encargados</h1>
        <br>
        <a class="btn btn-info float-right btn-m-r" href="{{ path('attendant_new') }}">Nuevo encargado</a>

          <table id="attendant-table" class="table row-border hover stripe" name="TABLA">
            <thead class="thead-dark">
              <tr>
                <th width="35%">Nombre</th>
                <th width="30%">Email</th>
                <th width="20%">Categoría</th>
                <th width="25%"></th>
              </tr>
            </thead>
            <tbody>
            {% for attendant in attendants %}
              <tr>
                <td>{{ attendant.lastName }}, {{ attendant.name }}</td>
                <td>{{ attendant.email }}</td>
                <td>{{ attendant.category }}</td>
                <td>
                  <a class="btn btn-info" href="{{ path('attendant_show', { 'id': attendant.id }) }}">
                    <i class="fa fa-eye"></i>
                  </a>
                  <a class="btn btn-success" href="{{ path('attendant_edit', { 'id': attendant.id }) }}">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <a class="btn btn-danger" href="{{ path('attendant_delete', { 'id': attendant.id }) }}">
                    <i class="fa fa-trash"></i>
                  </a>
                </td>
              </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center">
                        <em>No attendants</em>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4" class="text-center">
                    {{ pagination(attendants, 'page') }}
                </td>
            </tr>
            </tfoot>
        </table>

      </div>
    </div>
  </div>

{% endblock %}
{% block javascripts %}

<script src="{{ asset('scripts/dataTables/datatables.min.js') }}"></script>
<script>
  $(document).ready(function(){
    $('#attendant-table').DataTable({
      searching: false,
      info: false,
      lengthChange: false,
       "paging":   false,
       "ordering": false,
       "info":     false
    });
  });
</script>
{% endblock %}

