{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <h1>Encargados</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Nombre</th>
                <th>Nombre completo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for attendant in attendants %}
            <tr>
                <td>{{ attendant.email }}</td>
                <td>{{ attendant.name }}</td>
                <td>{{ attendant.lastName }}</td>
                <td>
                    <a href="{{ path('attendant_show', { 'id': attendant.id }) }}">show</a>
                    <a href="{{ path('attendant_edit', { 'id': attendant.id }) }}">edit</a>    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

     <ul>
        <li>
            <a href="{{ path('attendant_new') }}">Create a new attendant</a>
        </li>
    </ul>
</div>

{% endblock %}
