{% extends 'base.html.twig' %}

{% block body %}
    <h1>Attendant</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ attendant.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ attendant.email }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ attendant.name }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ attendant.lastName }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('attendant_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('attendant_edit', { 'id': attendant.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
