{% extends 'base.html.twig' %}

{% block title %} Ver encargado {% endblock %}

{% block body %}
 <div class="container">
    <div class="row">
      <div class="col-md-7 col-center">
        <h1 class="text-center">{{ attendant.lastName }}, {{ attendant.name }}</h1>
        <br>
        <br>

        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Email</h5>
                    <p class="card-text">{{ attendant.email }}</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Categoría</h5>
                    <p class="card-text">{{ attendant.category }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card" style="height: 100%">
              <div class="card-body">
                <h5 class="card-title">Individuos a cargo</h5>
                <h6 class="card-subtitle text-muted">
                  Cantidad 
                  <span class="badge badge-info badge-pill">{{ attendant.faunas.count }}</span>
                </h6>

                <a href="#" class="card-link btn btn-info btn-xs" style="margin-top: 30%; margin-left: 10%;">
                  Ver listado de individuos
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="text-center mt-lg-4">
          <a class="btn btn-success btn-md" href="{{ path('attendant_edit', { 'id': attendant.id }) }}">Editar</a>
          <a class="btn btn-primary btn-md ml-md-1" href="{{ path('attendant_index') }}">Volver al listado</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
