{% extends 'base.html.twig' %}

{% block body %}
    <h1>Faspecies list</h1>
    <table class="table">
    <thead>
        <tr>
          <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for user in listFASpecie %}
            <tr>
              <td>{{ user.name | upper }}</td>
              <td>{{ user.name | upper }}</td>
              <td>{{ user.name | upper }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2" class="text-center">
                    <em>No FASpecie</em>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">
                {{ pagination(listFASpecie, 'page') }}
            </td>
        </tr>
    </tfoot>
</table>

    <ul>
        <li>
            <a href="{{ path('faspecie_new') }}">Create a new fASpecie</a>
        </li>
    </ul>
{% endblock %}
