{% extends 'base.html.twig' %}

{% block title %} Especies de Fauna {% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ asset('scripts/dataTables/datatables.min.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-center">
        <br>
        <h1>Especies de Fauna</h1>
        <br>
        <a class="btn btn-info float-right btn-m-r" href="{{ path('faspecie_new') }}">Nueva especie</a>
        <table class="table">
        <thead>
            <tr>
              <th>Name</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for fas in listFASpecie %}
                <tr>
                  <td>{{ fas.name}}</td>
                  <td><a class="btn btn-success" href="{{ path('faspecie_edit', { 'id': fas.id }) }}"> >> </td>
                  <td><a class="btn btn-danger" href="{{ path('faspecie_delete', { 'id': fas.id }) }}">  x  </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2" class="text-center">
                        <em>No FASpecie</em>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    {{ pagination(listFASpecie, 'page') }}
                </td>
            </tr>
        </tfoot>
    </table>
      </div>
    </div>
  </div>

{% endblock %}
{% block javascripts %}

<script src="{{ asset('scripts/dataTables/datatables.min.js') }}"></script>
<script>
  $(document).ready(function(){
    $('#faspecie-table').DataTable();
  });
</script>
{% endblock %}
