{% extends 'base.html.twig' %}

{% block body %}
    <h1>Flora edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('flora_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
<script>
  $(document).ready(function(){
    $.ajax({
     url: "{{ path('listJsonFlsubspecie') }}",
     method: "GET",
     success: function(data) {
          var id_subspecie=$('#appbundle_flora_subspecie').val();
          $.each( data, function( i, option ) {
            if (option.id == id_subspecie) {
              var id_specie=option.idSpecie;
              $('#appbundle_flora_specie').val(id_specie);
            }
          });

       }
    });
  });
</script>
{% endblock %}
