<pdf>
  <a id="btVolver" class="btn btn-info mt-lg-3 ml-lg-3" href="{{ path('flora_index') }}">Volver al listado</a>
  <button id="btPrint" class="btn btn-info mt-lg-3 ml-lg-3" type="button" onclick="imprimirPagina()" name="button">Descargar</button>
    <dynamic-page>
      <div class="container">
      <h1 class="text-center mb-lg-4">Listado de individuos de flora</h1>
      <table class="table row-border hover stripe" name="TABLA">
        <thead class="thead-light">
          <th>Especie</th>
          <th>Subespecie</th>
          <th>Nombre</th>
          <th>Area</th>
          <th>Fecha de plantación</th>
        </thead>
        <tbody>
        {% for flora in floras %}
          <tr>
            <td>{{flora.subspecie.specie.name}}</td>
            <td>{{ flora.subspecie.name }}</td>
            <td>{{ flora.name }}</td>
            <td>{{ flora.area.name }}</td>
            <td>{{ flora.plantationDate}}</td>
          <tr>
        {% endfor %}
        </tbody>
      </table>
    </dynamic-page>
</pdf>
<script src="{{ asset('scripts/jquery.js') }}"></script>
<link href="{{ asset('bootstrap/css/style.css') }}" rel="stylesheet">
<link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<script src="{{ asset('scripts/pdfmake/pdfmake.min.js') }}"> </script>
<script src="{{ asset('scripts/pdfmake/vfs_fonts.js') }}" > </script>
<script>
var docDefinition = {
  content: [
    {
      table: {
        headerRows: 1,
        widths: [ '*', '*', '*', '*','*' ],
        body: [
          [ 'Especie', 'Subespecie', 'Nombre', 'Área','Fecha de plantación' ],
          {% for flora in floras %}
          [ '{{flora.subspecie.specie.name}}', '{{flora.subspecie.name}}', '{{flora.name}}', '{{flora.area.name}}','{{flora.plantationDate}}' ],
          {% endfor %}
        ]
      }
    }
  ]
};

function imprimirPagina() {
   pdfMake.createPdf(docDefinition).download('listado_flora.pdf');
   window.location = $('#btVolver').attr('href');
}

</script>
