{% extends 'base.html.twig' %}

{% block title %} individuos flora {% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ asset('scripts/dataTables/datatables.min.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-12 col-center">
      <h1>Individuos Flora</h1>
      <br>
      <a class="btn btn-info float-right btn-m-r" href="{{ path('flora_new') }}">Nuevo individuo</a>
    <table id="flora-table" class="table row-border hover stripe" name="TABLA">
        <thead class="thead-dark">
            <tr>
                <th>Especie</th>
                <th>Subespecie</th>
                <th>Nombre</th>
                <th>Area</th>
                <th>Fecha de plantación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for flora in floras %}
            <tr>
                <td>{{flora.subspecie.specie.name}}</td>
                <td>{{ flora.subspecie.name }}</td>
                <td>{{ flora.name }}</td>
                <td>{{ flora.area.name }}</td>
                <td>{{ flora.plantationDate}}</td>
                <td>
                <a class="btn btn-info" href="{{ path('flora_show', { 'id': flora.id }) }}">
                  <i class="fa fa-eye"></i>
                </a>
                <a class="btn btn-success" href="{{ path('flora_edit', { 'id': flora.id }) }}">
                  <i class="fa fa-pencil"></i>
                </a>
                <input class="flora_id" value="{{flora.id}}" hidden>
                <button type="button" class="button_delete btn btn-danger" data-toggle="modal" data-target="#delete_modal">
                  <i class="fa fa-trash"></i>
                </button>
                </td>
            {% else %}
                <tr>
                    <td colspan="6" class="text-center">
                        <em>No floras</em>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6" class="text-center">
                    {{ pagination(floras, 'page') }}
                </td>
            </tr>
            </tfoot>
        </tbody>
    </table>

    </div>
  </div>
</div>


  <div class="modal" id='delete_modal' tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Eliminar individuo de flora</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>¿Estás seguro de que deseas eliminar este individuo?</p>
        </div>
        <div class="modal-footer">
          <form class="form_m_d" method="post">
            <button type="submit" class="btn btn-primary">Eliminar</button>
          </form>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('scripts/dataTables/datatables.min.js') }}"></script>
<script>
  $(document).ready(function(){
    $('#flora-table').DataTable({
      searching: false,
      info: false,
      lengthChange: false,
       "paging":   false,
       "ordering": false,
       "info":     false
    });
  });
</script>

<script>

$('#flora-table').on("click", ".button_delete", function() {
  var id_flora = $(this).closest('tr').find('.flora_id').val();
  $('.form_m_d').attr('action', '/flora/'+id_flora);
});
</script>
{% endblock %}
