{% extends 'base.html.twig' %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('scripts/jquery-ui/jquery-ui.min.css') }}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

<style>
    .ui-datepicker-calendar {
        display: none;
    }
</style>
{% endblock %}

{% block title %} Nuevo individuo de flora {% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-center">
        <h1 class="text-center">Nuevo individuo de flora</h1>
        <br>
        <br>

        {{ form_start(form, { 'enctype':"multipart/form-data"}) }}
            {{ form_widget(form) }}

            <div class="text-center">
              <input type="submit" class="btn btn-success btn-md mt-lg-3" value="Crear individuo" />
              <a class="btn btn-primary btn-md mt-lg-3 ml-md-1" href="{{ path('flora_index') }}">Volver al listado</a>
            </div>

        {{ form_end(form) }}

      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('scripts/jquery-ui/jquery-ui.min.js') }}"></script>
<script>
$(document).ready(function()
{
    $("#appbundle_flora_plantation_date").datepicker({
        dateFormat: 'MM yy',
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,

        onClose: function(dateText, inst) {
            var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
            $(this).val($.datepicker.formatDate('MM yy', new Date(year, month, 1)));
        }
    });

    $("#appbundle_flora_plantation_date").focus(function () {
        $(".ui-datepicker-calendar").hide();
        $("#ui-datepicker-div").position({
            my: "center top",
            at: "center bottom",
            of: $(this)
        });
    });
});
</script>

<script>
 $.datepicker.regional['es'] = {
 closeText: 'Cerrar',
 prevText: '< Ant',
 nextText: 'Sig >',
 currentText: 'Hoy',
 monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
 monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
 dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
 dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
 dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
 weekHeader: 'Sm',
 dateFormat: 'dd/mm/yy',
 firstDay: 1,
 isRTL: false,
 showMonthAfterYear: false,
 yearSuffix: ''
 };
 $.datepicker.setDefaults($.datepicker.regional['es']);
$(function () {
$("#fecha").datepicker();
});
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script>
  $(document).ready(function() {
    jQuery(".select2").select2();

    // ids autogenerados por el bundle
    $('#appbundle_flora_specie').on('change', function(){
      // habilito el campo de subespecies y elimino las que haya tenido cargadas
      $('#appbundle_flora_subspecie').removeAttr('disabled');
      $('#appbundle_flora_subspecie option').remove().end();
      $('#appbundle_flora_subspecie').append('<option>Seleccione una subespecie</option>');

      specie_id = $("#appbundle_flora_specie").val();

      // recupero las nuevas subespecies
      $.ajax({
        url: "{{ path('listJsonFlsubspecie') }}",
        method: 'GET',
        success: function(data) {
          options = '';

          $.each(data, function(index, option) {
            if (option.idSpecie == specie_id) {
              options += "<option class='subspecies-ids' value='" + option.id + "'>" + option.name + "</option>";
            }
          });

          $("#appbundle_flora_subspecie").append(options);
        }
      });
    });
  });
</script>
{% endblock %}
