{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('scripts/dataTables/datatables.min.css') }}">
{% endblock %}
{% block body %}
    <h1>Areas list</h1>

    <table id="table_id">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Polygon</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for area in areas %}
            <tr>
                <td><a href="{{ path('area_show', { 'id': area.id }) }}">{{ area.id }}</a></td>
                <td>{{ area.name }}</td>
                <td>{{ area.polygon }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('area_show', { 'id': area.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('area_edit', { 'id': area.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('area_new') }}">Create a new area</a>
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('scripts/dataTables/datatables.min.js') }}"></script>
<script>
$(document).ready( function () {
    $('#table_id').DataTable();
} );
</script>
{% endblock %}
