{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-center">
          <h4 class="card-panel teal lighten-2 white-head">Iniciar Sesión</h4>
          <br>
          <br>
          <label for="username">Email</label>
          <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
          <br>
          <label for="password">{{ 'security.login.password'|trans }}</label>
          <input type="password" id="password" name="_password" required="required" autocomplete="current-password" />
          <br>
          <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
          <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
          <a style= "margin-left: 5%; font-size:90%" href="{{path('fos_user_resetting_request')}}">Recuperar contraseña</a>
          <br>
          <br>
          <input type="submit" id=0_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />

        </div>
      </div>
    </div>
</form>
