{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
<div class="flash-notice">
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ error.messageKey|trans(error.messageData, 'security') }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <br>
  </div>
</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-center">
          <h1 class="card-panel teal lighten-2 white-head">Iniciar sesión</h1>
          <br>
          <br>
          <label for="username">Nombre de usuario o correo electrónico</label>
          <input class='form-control mb-lg-3' type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
          <br>
          <label for="password">{{ 'security.login.password'|trans }}</label>
          <input class='form-control mb-lg-3' type="password" id="password" name="_password" required="required" autocomplete="current-password" />
          <a style= "font-size:90%" href="{{path('fos_user_resetting_request')}}">Recuperar contraseña</a>
          <br>
          <br>
          <input class="btn btn-success btn-md mt-lg-3" type="submit" id=0_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />

        </div>
      </div>
    </div>
</form>
