{% extends 'base.html.twig' %}

{% block title %} Subespecies de Fauna {% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ asset('scripts/dataTables/datatables.min.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-center">
        <h1>Subespecies de Fauna</h1>
        <br>
        <a class="btn btn-info float-right btn-m-r" href="{{ path('fasubspecie_new') }}">Nueva subespecie</a>

          <table id="fasubspecie-table" class="table row-border hover stripe" name="TABLA">
            <thead class="thead-dark">
              <tr>
                <th width="50%">Nombre</th>
                <th width="35%">Especie</th>
                <th width="25%"></th>
              </tr>
            </thead>
            <tbody>
            {% for fASubspecie in fASubspecies %}
              <tr>
                <td>{{ fASubspecie.name }}</ts>
                <td>{{ fASubspecie.specie }}</td>
                <td>
                  <a class="btn btn-success" href="{{ path('fasubspecie_edit', { 'id': fASubspecie.id }) }}">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <input class="fasubspecie_id" value="{{fASubspecie.id}}" hidden>
                  <button type="button" class="button_delete btn btn-danger" data-toggle="modal" data-target="#delete_modal">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="text-center">
                        <em>No fASubspecie</em>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3" class="text-center">
                    {{ pagination(fASubspecies, 'page') }}
                </td>
            </tr>
            </tfoot>
        </table>

      </div>
    </div>
  </div>


    <div class="modal" id='delete_modal' tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Eliminar Subespecie</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>¿Estás seguro de que deseas eliminar esta subespecie?</p>
          </div>
          <div class="modal-footer">
            <form class="form_m_d" method="post">
              <button type="submit" class="btn btn-primary">Eliminar</button>
            </form>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block javascripts %}

<script src="{{ asset('scripts/dataTables/datatables.min.js') }}"></script>
<script>
  $(document).ready(function(){
    $('#fasubspecie-table').DataTable({
      searching: false,
      info: false,
      lengthChange: false,
       "paging":   false,
       "ordering": false,
       "info":     false
    });
  });
</script>

<script>

$('#fasubspecie-table').on("click", ".button_delete", function() {
  var id_fasub = $(this).closest('tr').find('.fasubspecie_id').val();
  $('.form_m_d').attr('action', '/fasubspecie/'+id_fasub);
});
</script>
{% endblock %}
