{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fasubspecies list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fASubspecie in fASubspecies %}
            <tr>
                <td><a href="{{ path('fasubspecie_show', { 'id': fASubspecie.id }) }}">{{ fASubspecie.id }}</a></td>
                <td>{{ fASubspecie.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('fasubspecie_show', { 'id': fASubspecie.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('fasubspecie_edit', { 'id': fASubspecie.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fasubspecie_new') }}">Create a new fASubspecie</a>
        </li>
    </ul>
{% endblock %}
