{% extends 'base.html.twig' %}

{% block title %} Especies de flora {% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ asset('scripts/dataTables/datatables.min.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-center">
        <h1>Especies de flora</h1>
        <a class="btn btn-info float-right btn-m-r mb-lg-3" href="{{ path('flspecie_new') }}">Nueva especie</a>
        <br><br>
        {% include 'flspecie/filter.html.twig' %}
        <table id="flspecie-table" class="table">
          <thead class="thead-light">
            <tr>
              <th width="60%">Nombre</th>
              <th></th>
              <th width="15%"></th>
            </tr>
          </thead>
          <tbody>
            {% for fLSpecie in fLSpecies %}
              <tr>
                <td>{{ fLSpecie.name }}</td>
                <td>
                  <button type="button" class="button_subspecies btn btn-primary btn-sm" data-toggle="modal" data-target="#subspecies_modal">
                    Subespecies
                  </button>
                </td>
                <td>
                  <a class="btn btn-success btn-sm" href="{{ path('flspecie_edit', { 'id': fLSpecie.id }) }}">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <input class="flspecie_id" value="{{fLSpecie.id}}" hidden>
                  <button type="button" class="button_delete btn btn-danger btn-sm" data-toggle="modal" data-target="#delete_modal">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            {% else %}
              <tr>
                <td colspan="3" class="text-center">
                  <em>No hay especies de flora para mostrar</em>
                </td>
              </tr>
            {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3" class="text-center">
                  {{ pagination(fLSpecies, 'page') }}
                </td>
              </tr>
            </tfoot>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div class="modal" id='delete_modal' tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Eliminar especie</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>¿Estás seguro de que deseas eliminar esta especie?</p>
        </div>
        <div class="modal-footer">
          <form class="form_m_d" method="post">
            <button type="submit" class="btn btn-primary">Eliminar</button>
          </form>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id='subspecies_modal' tabindex="-1" role="dialog" style="margin-top: 5%">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Listado de subespecies</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul id="subespecies-list">
          <ul>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block javascripts %}

<script src="{{ asset('scripts/dataTables/datatables.min.js') }}"></script>
<script>
  $(document).ready(function(){
    $('#flspecie-table').DataTable({
      searching: false,
      info: false,
      lengthChange: false,
      columns: columnDefs,
       "paging":   false,
       "ordering": false,
       "info":     false
    });
    $('#name').val("{{params.name}}");
  });

  $('#flspecie-table').on("click", ".button_delete", function() {
    var id_flspecie = $(this).closest('tr').find('.flspecie_id').val();
    $('.form_m_d').attr('action', '/flspecie/'+id_flspecie);
  });

  $('#flspecie-table').on("click", ".button_subspecies", function() {
    $('.subspecies').remove();
    var specie_id = $(this).closest('tr').find('.flspecie_id').val();

    $.ajax({
        url: "{{ path('listJsonFasubspecie') }}",
        method: 'GET',
        success: function(data) {
          list = '';

          $.each(data, function(index, option) {
            if (option.idSpecie == specie_id) {
              list += '<li class="subspecies">' + option.name + '</li>';
            }
          });

          if (list.length == 0) {
            list = '<li class="subspecies">Aún no posee subespecies</li>'
          }

          $("#subespecies-list").append(list);
        }
      });
  });
  
$('#buttonClear').click(function() {
  $('#name').val('');
});
</script>
{% endblock %}
